* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/william-warby-ld4wZGqlLF4-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    text-align: center; 
    min-height: 100vh; 
    display: block;
    margin: 0;
}

.container {
    display: inline-block; 
    margin-top: 40px;
    text-align: center; 
}

.imagen_perfil {
    background-color: white;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.8s ease-in-out;
}

.imagen_perfil:hover {
    transform: scale(1.1); 

}

.titulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0f0f0e;
    margin-bottom: 20px;
}

.subtitulo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #0f0f0e;
    margin-bottom: 40px;
}

.social-icons {
    margin-bottom: 10px;
}

.social-icons a {
    margin: 0 15px;
    transition: transform 0.8s ease-in-out; 
    display: inline-block; 
}


.social-icons a:hover {
    transform: translateY(-10px); 
}

.social-icons img {
    width: 40px;
    transition: transform 0.6s ease-in-out;
}

.social-icons a:hover img {
    transform: scale(1.1); 
}

.boton-contenido {
    color: white;
    background-color: #d99412;
    padding: 15px 30px;
    border-radius: 50px;
    display: block;
    width: 450px; /* Ajusta el ancho del botón */
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    transition: background-color 0.8s ease-in-out, transform 0.8s ease-in-out;
    position: relative; /* Para poder posicionar la imagen dentro del contenedor */
    text-align: center; /* Centra el texto del enlace */
    line-height: 45px; /* Alinea el texto verticalmente con la imagen */
}

.boton-contenido a{
    text-decoration: none;
    color: aliceblue;
}

.boton-contenido:hover {
    transform: translateX(10px); 
    cursor: pointer;
    background-color: bisque;
}

.FotosCuerpo {
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    left: 20px; /* Ajusta la posición de la imagen a la izquierda del contenedor */
    top: 50%;
    transform: translateY(-50%); /* Centra la imagen verticalmente */
    transition: transform 0.8s ease-in-out, background-color 0.8s ease-in-out;
}


.DatosRama {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 30px;
}


/* .DatosRama a {
    text-decoration: none;
    color: white;
    background-color: #d99412;
    padding: 15px 30px;
    border-radius: 50px;
    display: inline-block;
    width: 450px;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    transition: transform 0.8s ease-in-out, background-color 0.8s ease-in-out; 
}

.DatosRama a:hover {
    transform: translateX(10px);
    background-color: #e4b55c; 
}
 */
